@import url('https://fonts.googleapis.com/css2?family=Inter&family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", "sans-serif";
    box-sizing: border-box;
}

.container {
    max-width: 1660px;
    margin: 0 auto;
    padding: 0 130px;
}